body {
  font-family: 'Montserrat';
}

/* Homepage styles */

.nav-pills .nav-item{
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #121212;
  --bs-nav-pills-link-active-bg: #ffffff;
}

.we-make {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(90deg, #F83600 0%, #FFD300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.software-dev {
  font-size: 5.5rem;
  color: #121212;
  font-family: 'Montserrat';
}

.btn-lg {
  --bs-btn-padding-y: 1.5rem;
  --bs-btn-padding-x: 4rem;
}

.portfolio:hover {
  background: linear-gradient(90deg, #F83600 0%, #F9D423 100%);
  box-shadow: 0px 4px 33px rgba(143, 115, 230, 0.12);
  border: 1px solid #ffffff;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link {
  margin-top: .125rem;
  margin-left: .125rem;
  padding-left: 9px;
  padding-top: 4px;
  fill: currentcolor;
  text-decoration: none;
  transition: transform .25s ease-in-out;
}

.icon-effect:hover {
  transform: translate(.25rem);
}

.container {
  max-width: 960px;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.container {
  max-width: 960px;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -.05rem;
}


