body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    padding-top: 6rem!important;
}
/* Homepage styles start */
.we-make {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: linear-gradient(90deg, #F83600 0%, #FFD300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.software-dev {
    font-size: 5.5rem;
    color: #121212;
    font-family: 'Montserrat';
}

.btn-lg {
    --bs-btn-padding-y: 1.5rem;
    --bs-btn-padding-x: 4rem;
}

.portfolio:hover {
    background: linear-gradient(90deg, #F83600 0%, #F9D423 100%);
    box-shadow: 0px 4px 33px rgba(143, 115, 230, 0.12);
    border: 1px solid #ffffff;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
